<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ernestLogin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A15D71771D5C4F20004E4555</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A15D71931D5C4F20004E4555</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A15D719E1D5C4F20004E4555</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
